<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>Full Stack Demo</title>

    <link type="text/css" rel="stylesheet" href="../public/css/style.css" />
  </head>
  <body>
    <header id="main-header" class="bg-success text-white p-4 mb-3">
      <h1 id="header-title">Full Stack Demo Tutorial</h1>
    </header>

    <div class="container">
      <main>
        <h2 class="title">
          This page contains the demo of the four CRUD operations executed
          against a Full Stack Web App
        </h2>
        <p>The application was created using the following technologies</p>
        <ul class="list-group">
          <li class="list-group-item">Front End -- HTML, CSS, Vanilla JS</li>
          <li class="list-group-item">
            Back End -- Node.js with server-side framework express.js and
            embedded javascript for server side content rendering
          </li>
          <li class="list-group-item">
            Database -- MySQL server community edition version 8.0
          </li>
        </ul>
      </main>
    </div>

    <div class="container">
      <h3>CRUD ops - CREATE</h3>
      <h4>Insert Data into The Database</h4>
      <div id="main" class="card card-body">
        <form
          class="form-inline mb-3"
          action="/insertstudents/"
          method="post"
          id="CRUDcreate"
        >
          <label for="studentName">Student Name: </label>
          <input
            type="text"
            name="studentName"
            placeholder="Enter your Name"
            size="200"
            required
            autocomplete="off"
            class="form-control mr-2"
          />
          <br />
          <label for="studentEmail">Student Email: </label>
          <input
            type="text"
            name="studentEmail"
            placeholder="Enter your Email"
            size="200"
            required
            autocomplete="off"
            class="form-control mr-2"
          />
          <br />
          <input type="submit" value="SUBMIT" class="btn btn-dark" />
          <input type="reset" value="RESET" class="btn btn-dark" />
        </form>
      </div>
    </div>

    <div class="container">
      <h3>CRUD ops - READ</h3>
      <h4>Read Data from The Database</h4>
      <div id="main" class="card card-body">
        <form
          class="form-inline mb-3"
          action="/readstudents"
          method="get"
          id="CRUDread"
        >
          <input type="submit" value="SUBMIT" class="btn btn-dark" />
        </form>
      </div>
    </div>

    <div class="container">
      <h3>CRUD ops - UPDATE</h3>
      <h4>Update Data in The Database</h4>
      <div id="main" class="card card-body">
        <form
          action="/updatestudents"
          method="post"
          id="CRUDupdate"
          class="crud"
        >
          <label for="studentID">Search By Student ID: </label>
          <input
            type="text"
            name="studentID"
            placeholder="Enter Student ID"
            size="200"
            required
            autocomplete="off"
            class="form-control mr-2"
          />
          <br />
          <label for="studentNewEmailUpdate">Enter New Student Email: </label>
          <input
            type="text"
            name="studentNewEmailUpdate"
            placeholder="Enter New Email ID"
            size="200"
            required
            autocomplete="off"
            class="form-control mr-2"
          />
          <br />
          <input type="submit" value="SUBMIT" class="btn btn-dark" />
          <input type="reset" value="RESET" class="btn btn-dark" />
        </form>
      </div>
    </div>

    <div class="container">
      <h3>CRUD ops - DELETE</h3>
      <h4>delete Data into The Database</h4>
      <div id="main" class="card card-body">
        <form
          action="/deletestudents"
          method="post"
          id="CRUDdelete"
          class="form-inline mb-3"
        >
          <label for="studentEmail">Confirm Student Email For deletion: </label>
          <input
            type="text"
            name="studentEmail"
            placeholder="Enter your Email"
            size="200"
            required
            autocomplete="off"
            class="form-control mr-2"
          />
          <br />
          <input type="submit" value="SUBMIT" class="btn btn-dark" />
          <input type="reset" value="RESET" class="btn btn-dark" />
        </form>
      </div>
    </div>
  </body>
</html>
