<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <title>Ace's eBookstore</title>

  <link type="text/css" rel="stylesheet" href="../public/css/style.css" />
</head>

<body>
  <header id="main-header" class="bg-header text-white p-2 mb-3 sticky-top">
    <h1 class='text-center'>Ace's eBookstore</h1>
  </header>

  <div class="container">
    <main>
      <h2 class="title">
        Welcome to Ace's eBookstore. Please search for an eBook below!
      </h2>
      <br />
      <form class="form-inline mb-3" action="/searchebook/" method="post" id="EBOOKsearch">
        <label for="eBookTitleSearch" class="h4">Search eBooks by Title</label>
        <input type="text" name="eBookTitleSearch" placeholder="Enter eBook Title" required autocomplete="off"
          class="form-control mr-2" />
        <br />
        <h4>Refine Your Search With Other Filters Here</h4>
        <div class="card card-body">
          <div class="checkbox">
            <label for="eBookAuthorSearch">
              <input type="checkbox" name="eBookAuthorCheck" class="form-check-inline" id="authorCheckbox" />
              Author</label>
            <input type="text" name="eBookAuthorSearch" placeholder="Enter eBook Author" autocomplete="off"
              class="form-control mr-2 mt-2" id="authorInput" disabled />
            <br />
          </div>
          <div class="checkbox">
            <label for="eBookGenreSearch">
              <input type="checkbox" name="eBookGenreCheck" class="form-check-inline" id="genreCheckbox" />
              Genre</label>
            <input type="text" name="eBookGenreSearch" placeholder="Enter eBook Genre" autocomplete="off"
              class="form-control mr-2 mt-2" id="genreInput" disabled />
            <br />
          </div>
          <div class="checkbox">
            <label for="eBookPriceSearch">
              <input type="checkbox" name="eBookPriceCheck" class="form-check-inline" id="priceCheckbox" />
              Price</label>
            <input type="text" name="eBookPriceSearch" placeholder="Enter eBook Price" autocomplete="off"
              class="form-control mr-2 mt-2" id="priceInput" disabled />
            <br />
          </div>
          <div class="checkbox">
            <label for="eBookPublishDateSearch">
              <input type="checkbox" name="eBookPublishDateCheck" class="form-check-inline" id="pubCheckbox" />
              Publish Date</label>
            <input type="date" name="eBookPublishDateSearch" placeholder="Enter Publish Date" autocomplete="off"
              class="form-control mr-2 mt-2" id="pubInput" disabled />
            <br />
          </div>
        </div>
        <br />
        <input type="submit" value="SEARCH" class="btn btn-dark" />
        <input type="reset" value="RESET" class="btn btn-dark" />
        <br />
      </form>
    </main>
  </div>
</body>

</html>
<script>
  document.getElementById('authorCheckbox').onchange = function () {
    document.getElementById('authorInput').disabled = !this.checked;
  };
  document.getElementById('genreCheckbox').onchange = function () {
    document.getElementById('genreInput').disabled = !this.checked;
  };
  document.getElementById('priceCheckbox').onchange = function () {
    document.getElementById('priceInput').disabled = !this.checked;
  };
  document.getElementById('pubCheckbox').onchange = function () {
    document.getElementById('pubInput').disabled = !this.checked;
  };
</script>