<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>Ace's eBookstore</title>

    <link type="text/css" rel="stylesheet" href="../public/css/style.css" />
  </head>
  <body>
    <header id="main-header" class="bg-header text-white p-2 mb-3 sticky-top">
      <h1 class='text-center'>Ace's eBookstore</h1>
    </header>

    <div class="container">
      <main>
        <h2>User Account Creation</h2>
        <div id="main" class="card-body">
          <form
            class="form-inline mb-3"
            action="/insertuser/"
            method="post"
            id="USERcreate"
          >
            <label for="userEmail">Email</label>
            <input
              type="text"
              name="userEmail"
              placeholder="Enter your Email Address"
              size="255"
              required
              autocomplete="off"
              class="form-control mr-2"
            />
            <br />
            <label for="userPassword">Password</label>
            <input
              type="text"
              name="userPassword"
              placeholder="Enter a Password"
              size="255"
              required
              autocomplete="off"
              class="form-control mr-2"
            />
            <br />
            <label for="userFname">First Name</label>
            <input
              type="text"
              name="userFname"
              placeholder="Enter your First Name"
              size="255"
              required
              autocomplete="off"
              class="form-control mr-2"
            />
            <br />
            <label for="userLname">Last Name</label>
            <input
              type="text"
              name="userLname"
              placeholder="Enter your Last Name"
              size="255"
              required
              autocomplete="off"
              class="form-control mr-2"
            />
            <br />
            <label for="userDOB">Birthday</label>
            <input
              type="date"
              name="userDOB"
              placeholder="Enter your Date of Birth"
              required
              autocomplete="off"
              class="form-control mr-2"
            />
            <br />
            <input type="submit" value="SUBMIT" class="btn btn-dark" />
            <input type="reset" value="RESET" class="btn btn-dark" />
          </form>
        </div>
      </main>
    </div>

  </body>
</html>
